# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\Yves\SynologyDrive\documents\BME\Studium\04_Semester\Software_Lab\GitHub_InProgress\InProgress\AsteroidMining\Asteroid Mining\src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
